<div class="container">
 <br /> 
   <!-- PROFILE DETAILS -->
  <div class='row'>
      <!-- Profile picture goes here -->
      <div class='column left-column'>
        <img class='profilePic' src=<%="#{@user.picture.url}"%> alt='Profile picture' width="100%" />
      </div>
      <div class='column right-column'>
        <h3><%= @user.username %></h3>
        <h6><%= @user.email %></h6>
        <h6 style="word-spacing: 4px"><%= @user.pics.count.to_i %> posts &nbsp;&nbsp;&nbsp; <%= @user.followers.count %> Followers &nbsp;&nbsp;&nbsp; <%= @user.followings.count %> Following </h6>
      </div>
  </div> 

  <br><br><br>

  <div class="col-md-7 line-up" >
    <div id="pads" style="box-shadow: 1px 2px 4px;">
      <h4>Edit my picture </h4>
          <!-- <%= resource_name.to_s.humanize %> add the word 'user'  -->
      <!-- EDIT FORM -->
      <!-- Display form for updating profile picture -->
      <%= render 'userPicForm' %>
      <br />
      <hr />
      <h4>Edit my info </h4>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs"> 
          <%= f.input :username, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: false %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", :class => 'button' %>
        </div>
       <% end %>
      <br />
      <hr />
      <h4>Cancel my account</h4>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
