
    <!--  USER'S SHOW PAGE -->

   <!-- PROFILE DETAILS -->
<div class='row right-padded'>
    <!-- Profile picture goes here -->
    <div class='col-md-2' style="padding-left: 4%; padding-top: 2%;">
      <% correct_user = User.find_by(id: params[:id]) %>
      <img class='profilePic' src=<%="#{correct_user.picture.url}"%> alt='Profile picture' width="100%" />
    </div>
    <div class='col-md-10 left-padded'>
      <h4>
        <%= correct_user.username %>
        <span class = 'button-div' style="word-spacing: 4px; margin-top: 3%; margin-bottom: 1%;">
        <% if (correct_user != current_user) %> <!-- Hide Follow button if on own show page -->
          <% if (Follow.where(follower_id: current_user.id, following_id: params[:id]).exists?) %>
            <%= button_to "Unfollow", follower_path(correct_user.id), method: :delete, :class => 'follow-button' %>
          <% else %>
            <%= button_to "Follow", follower_path(correct_user.id), method: :post, :class => 'follow-button'  %>
          <% end  %>
        <% end  %>
      </span>
      </h4>
      <h6 style="word-spacing: 4px; margin-bottom: 3%;"><b><%= correct_user.pics.count.to_i %></b> posts &nbsp;&nbsp;&nbsp; <b><%= correct_user.followers.count.to_i %></b> Followers &nbsp;&nbsp;&nbsp; <b><%= correct_user.followers.count.to_i %></b> Following </h6>

      <h6><b><%= @user.username %></b></h6>
      <h6><%= correct_user.email %></h6>
    </div>
</div> 
    
    <br />
    <br />
    <!-- User's list of posts -->

<div class="container">
    <div class="container">
    <div class="row">
      <!-- sort pictures in descending order of creation and display them -->  
      <% sorted_pics = @user.pics.order('created_at DESC') %>
        <% sorted_pics.all.each do |pic|%>
            <div class="col-sm-4 h-100 py-2 px-2">
              <div class="card card-body h-100 mt-4" >
                <%= link_to image_tag("#{pic.image.url}", alt:"#{pic.title}", width:"100%", height: "100%"), pic %>
                <!-- <div><%= link_to pic.title, pic %></div> -->
                <div style="text-align: center;">
                    ❤ <%= pic.likes.count.to_i %>
                </div>
              </div>
            </div>
        <% end %> 
      </div>
    </div>
</div>


<!--
    <div class="container" style="left:20%; position: absolute;">
     <div class="col-md-8">
        <div class="card">
        <% @user.pics.each do |pic| %>
            <%= link_to image_tag("#{pic.image.url}", alt:"#{pic.title}", width:"100%", height: "100%"), pic %>
        <% end %>
     </div>
    </div>
    
</div> -->